/* src/pages/Cart.css */
body {
  background-color: #041321;
  /* Set the background to black */
}

.cart-container {
  padding: 20px;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #cdd5dd;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #7a0d3e;
  font-size: 30px;
  font-weight: bold;
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.cart-item:hover {
  transform: scale(1.03);
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cart-item-details {
  text-align: center;
}

.cart-item-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #444;
}

.cart-item-details p {
  font-size: 16px;
  color: #666;
}

.cart-total {
  text-align: center;
  padding: 15px;
  background-color: #f4f6f9;
  border: 1px solid #041321;
  border-radius: 8px;
  margin-top: 10px;
}

.cart-total h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.confirm-order-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.confirm-order-button:hover {
  background-color: #09210f;
  box-shadow: 0 0 10px 2px neon green, 0 0 20px 5px neon green, 0 0 30px 10px neon green;
}

.empty-cart-message {
  color: rgb(36, 5, 5);
  font-size: 30px;

  text-align: left;

  margin-top: 30px;

}