.footer-link {
    font-size: 18px;
    /* Adjust the font size as needed */
    color: #f8f9fa;
    /* Optional: Change the text color */
    text-decoration: none;
    /* Optional: Remove underline */
}

.footer-link.login-btn,
.footer-link.logout-btn,
.footer-link.register-btn {
    display: none;
}